<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @task.action %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
